:root{
  --pri-color: #eeeeff; 
  --sec-color: #83daa5;
  --spn-color: #C25BC2;
  --acn-color: #B084CC;
  --trx-color: #00000050;
  --pri-txt: #224;
  --sec-txt: #355;
  --spn-text: #FF2E00;

}
header{
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: var(--sec-txt);
}
#logo{
  line-height: 60px;
  margin-left: 40px;
  display: inline-block;
cursor: pointer;
font-size: 30px;
font-weight: bold;
color: #00a7ff; /* blue */
}
#logo:hover{
  color: #eef9ff; /* white */
}
#logo-s{
color: #eef9ff; /* white */
margin-left: 5px;
}
#logo:hover #logo-s{
color: #00a7ff; /* blue */
}
.sign{
float: right;
line-height: 60px;
margin-right: 40px;
}
.sign a{
color: #fff;
font-weight: bold;
text-decoration: none;
}
.act{
border: 2px solid #fff;
border-radius: 50px;
padding: 6px 15px;
}
.sign a:hover{
color: #00a7ff; /* blue */
border-color: #00a7ff; /* blue */
}
/* /1 */

/* 2 */
.slider{
position: relative;
width: 100%;
background: #2c3e50; /* darckblue */
}
.myslide{
height: 655px;
display: none;
overflow: hidden;
}

.prev, .next{
position: absolute;
top: 50%;
transform: translate(0, -50%);
font-size: 50px;
padding: 15px;
cursor: pointer;
color: #fff;
transition: 0.1s;
user-select: none;
}
.prev:hover, .next:hover{
color: #00a7ff; /* blue */
}
.next{
right: 0;
}
.dotsbox{
position: absolute;
left: 50%;
transform: translate(-50%);
bottom: 20px;
cursor: pointer;
}
.dot{
display: inline-block;
width: 15px;
height: 15px;
border: 3px solid #fff;
border-radius: 50%;
margin: 0 10px;
cursor: pointer;
}
/* /2 */

/* javascript */
.actif, .dot:hover{
border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: 0.8}
to {opacity: 1}
}

@keyframes fade {
from {opacity: 0.8}
to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
position: absolute;
color: #fff;
letter-spacing: 2px;
line-height: 35px;
top: 40%;
left: 15%;
-webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
z-index: 1;
}

@-webkit-keyframes posi {
from {left: 25%;}
to {left: 15%;}
}


@keyframes posi {
from {left: 25%;}
to {left: 15%;}
}

.txt h1{
color: #00a7ff; /* blue */
font-size: 50px;
margin-bottom: 20px;
}
.txt p{
font-weight: bold;
font-size: 20px;
}
/* /3 */

/* 4 */
.slider img{
transform: scale(1.5, 1.5);
-webkit-animation-name: zoomin;
  -webkit-animation-duration: 40s;
  animation-name: zoomin;
  animation-duration: 40s;
}
@-webkit-keyframes zoomin {
from {transform: scale(1, 1);}
to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
from {transform: scale(1, 1);}
to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
.myslide{
  height: 500px;
}
.txt{
  letter-spacing: 2px;
  line-height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-name: posi2;
  -webkit-animation-duration: 2s;
  animation-name: posi2;
  animation-duration: 2s;
}

@-webkit-keyframes posi2 {
  from {top: 35%;}
  to {top: 50%;}
}


@keyframes posi2 {
  from {top: 35%;}
  to {top: 50%;}
}

.txt h1{
  font-size: 40px;
}
.txt p{
  font-size: 13px;
}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
.txt h1{
  font-size: 30px;
  margin-bottom: 20px;
}
.sign{
  margin-right: 20px;
}
.sign a{
  font-size: 12px;
}
}
/* /6 */


/* Service Ruleset */
#solution{
  background: url(../images/backdrop/01.png);  
}
#solution .solution.container{
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.top{
  max-width: 568px;  
  text-align: center; 
}

#solution .solution.container .solution-top.top h1{
  margin-top: 0;
}
#solution .solution-down{  
  width: 90%;  
}
#solution .card-holder{  
  width: 100%;
  position: relative; 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}
#solution .card{
  margin: 0 auto;
}
#solution .card-holder .card .face{
  max-width: 300px;  
  min-height: 200px;
  transition: .5s;
}
#solution .card-holder .card .face.face1{
  position: relative;
  background: #edf0da;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
#solution .card-holder .card:hover .face.face1,
#solution .card-holder .card:active .face.face1{
  transform: translateY(0); 
  background: #B084CC;
  background: var(--acn-color);
}
#solution .card-holder .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}
#solution .card-holder .card .face.face1 .content{
  opacity: 1;
}
#solution .card-holder .card .face.face1 .content img{
  max-width: 100px;
}
#solution .card-holder .card .face.face1 .content h3{
  margin: 20px 0 0;
}
#solution .card-holder .card .face.face2{
  position: relative;
  background: #eeefff;
  display: grid;
  place-items: center;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-100px);
}
#solution .card-holder .card:hover .face.face2,
#solution .card-holder .card:active .face.face2{
  transform:  translateY(0);
}
#solution .card-holder .card .face.face2 .content a{
  margin: 15px 0 0;
  display: inline-block;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  transition: .8s ease-in-out;
}
#solution .card-holder .card .face.face2 .content a:hover,
#solution .card-holder .card .face.face2 .content a:active{
  background: #333;
  color: #eeefff;
}


/* End of Solution Ruleset */

/* Projects Ruleset */
section#projects{
  position: relative;
  background-image: linear-gradient(60deg, #4E937A, #1F5673); 
  background-size: cover;  
}
/* #projects::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;  
  z-index: -1;
} */
#projects .projects{
  flex-direction: column; 
}
#projects .projects .projects-top p{
  color: #fff;
}
#projects .projects .projects-down{
  max-width: 1300px;
  margin: 0 auto;
  display: grid; 
  padding: 50px 0;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 2rem;
  grid-template-areas: "one two three"
                       "one two three"
                       "one two four"
                       "five two four"
                       "five six four"
                       "five six seven"
                       "eight six seven"
                       "eight nine seven"
                       "eight nine seven"
                       "ten nine seven";
  /* border: 1px solid salmon; */
}
#projects .projects .projects-down .one{
  grid-area: one;
}
#projects .projects .projects-down .two{
  grid-area: two;
}
#projects .projects .projects-down .three{
  grid-area: three;
}
#projects .projects .projects-down .four{
  grid-area: four;
}
#projects .projects .projects-down .five{
  grid-area: five;
}
#projects .projects .projects-down .six{
  grid-area: six;
}
#projects .projects .projects-down .seven{
  grid-area: seven;
}
#projects .projects .projects-down .eight{
  grid-area: eight;
}
#projects .projects .projects-down .nine{
  grid-area: nine;
}
#projects .projects .projects-down .ten{
  grid-area: ten;
}

#projects .projects .projects-down > div{
  /* max-width: 400px;  */
  border: 2px solid #fff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.7);
}
/* End of Projects Ruleset */

/* Products Ruleset */
#products .products{
  flex-direction: column;
  background-color: var(--pri-color);
}
#products .products-down{ 
  width: 80%;
  padding: 2.5em; 
  text-align: center;
  display: grid; 
  grid-gap: 2.5em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
} 
#products .products-down .product-item{ 
  min-height: 320px; 
  margin: 0 auto;
  border-radius: 8px;
  padding: 25px 20px;
  box-shadow: -4px -4px 5px -1px rgba(255, 255, 255, 0.6),
              -4px -4px 8px -1px rgba(255, 255, 255, 0.2),
              4px 4px 10px -1px rgba(0, 0, 0, 0.1),
              6px 6px 8px -1px rgba(0, 0, 0, 0.05); 
}
#products .products-down .product-item:hover,
#products .products-down .product-item:active{
  box-shadow: inset -4px -4px 5px -1px rgba(255, 255, 255, 0.7),
              inset 4px 4px 5px -1px rgba(0, 0, 0, 0.2);
}
#products .products-down .product-item img{
  transition: .8s;
}
#products .products-down .product-item:hover img{
  transform: scale(0.97);
}
#products .products-down .product-title{
  color: var(--sec-txt);
  margin: 10px 0;
}
#products .products-down .product-title a{
  font-size: .9rem;
}
#products .products-down .product-btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#products .products a{
  color: var(--sec-txt);
  font-size: 1.1rem;
  letter-spacing: .5px;
}
.btn-oval{
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 32px;
  border-radius: 50px;
  box-shadow: inset -2px -2px 8px #fff,
              inset -2px -2px 12px rgba(255, 255, 255, 0.6),
              inset 2px 2px 4px rgba(0, 0, 0, 0.1),
              inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: .4s;
}
.btn-oval span{
  color: rgb(3, 108, 212); 
}

.btn-oval:hover{
  box-shadow: -2px -2px 8px #fff,
              -2px -2px 12px rgba(255, 255, 255, .6),
              inset 2px 2px 4px rgba(255, 255, 255, .1),
              2px 2px 8px rgba(0, 0, 0, .15);

}
.btn-round{
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: -2px -2px 8px white,
              -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
              2px 2px 8px rgba(0, 0, 0, 0.15); 
}
.btn-round:hover{
  box-shadow: -2px -2px 8px white,
              inset -2px -2px 12px rgba(255, 255, 255, 0.5),
              inset 2px 2px 4px rgba(255, 255, 255, 0.1),
              inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.btn-round i{
  color: rgb(3, 97, 97);
  transition: color .5s ease-in-out;
}
.btn-round:hover i,
.btn-round:active i{
  color: orangered;
}
/* End of Products Ruleset */

/* Testimonials Ruleset */
#testimonials{
  /* background: #eee url(../images/backdrop/bgAtt.jpg) no-repeat center;  */
  background: #eee url(../images/testimonial/tesimBg.png) no-repeat center; 
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
#testimonials::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 13, 78, 0.99);
  opacity: .75;
  z-index: -1;

}
#testimonials .testimonials{
  flex-direction: column;
  justify-content: space-around;
  /* max-width: 80%; */
}  
/* Infused Testimonial Slider Rulesets */
.testimonial-slider{
  position: relative;
  width: 800px;
  height: 300px;
  margin: 70px 10px 10px; 
}
.testimonial-slider .slide{
  position: absolute;
  /* display: flex; */
  z-index: 1;
  width: 100%;
  clip-path: circle(0% at 0 50%); 
}
.testimonial-slider .slide.activ{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}
.testimonial-slider .slide .imgBx{
  width: 250px;
  height: 250px; 
  border: 7px solid#fff;
  border-radius: 50%;
  overflow: hidden;
  position: absolute; 
  right: 12%; 
}
.testimonial-slider .slide img{
  width: 100%;
  border-radius: 5px;
  z-index: 1;
  object-fit: contain;
}
.testimonial-slider .slide .info{
  position: absolute;
  top: 40px; 
  font-weight: 300;
  padding: 15px 30px; 
}
.testimonial-slider .slide .info h4{
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}
.testimonial-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, .55);
  font-size: 16px;
  width: 60%;
  padding: 20px;
  border-radius: 4px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  font-weight: 300;
}
.testimonial-slider .navigation{
  position: absolute;
  z-index: 2;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%); 
}
.testimonial-slider .navigation .but{
  background: rgb(133, 187, 166);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}
.testimonial-slider .navigation .but.activ{
  background: #2696e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

/* End of Infused Testimonial Slider Rulesets */
#testimonials .rating{ 
  min-height: 20vh;
  margin-bottom: 50px; 
}
#testimonials .rating .strip{
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
#testimonials .rating .box{
  width: 200px;
  height: 130px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--pri-txt);
  position: relative;
  border-radius: 10px;
  box-shadow: inset 4px 4px 5px -1px rgb(0, 0, 0, 0.2), 
    inset -4px -4px 5px -1px rgb(255, 255, 255, 0.5);
}
/* #solution .solution-down .rating .box::after{
  position: absolute;
  content: '';
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 10px;
  box-shadow: inset 4px 4px 5px -1px rgba(0, 0, 0, 0.25),
              inset -4px -4px 5px -1px rgba(255, 255, 255, 0.9);
} */
#testimonials .rating .box h1{
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}
#testimonials .rating .box h4{
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
/* End of Testimonials Ruleset */

/* About */
section#about{ 
  background-color: #fff;
  max-width: 85%;
  margin: 3em auto; 
  display: flex;
  justify-content: space-around;
  align-items: center;  
}
#about .about{
  flex-basis: 30%;
} 
#about .about h2{
  line-height: 2rem;
  margin-bottom: 1em;
}
#about .about p{
  line-height: 2em;
}
#about .about p span{
  color: var(--spn-text);
}
#about .team{
  flex-basis: 60%; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid salmon;   */
  /* background: #e0f7fa; */
}
#about .team .team-holder{
  /* border: 1px solid dodgerblue;  */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
  gap: 3em;
}
#about .team .team-holder .card{
  position: relative;
  width: 300px;
  height: 400px; 
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
  border-radius: 15px; 
}
#about .team-holder .card .contentBx{
  position: absolute;
  bottom: -150px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, .2);
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  transition: bottom .5s;
  transition-delay: .8s;
}
#about .team-holder .card:hover .contentBx,
#about .team-holder .card:active .contentBx{
  bottom: 0;
  transition-delay: 0s;
}
#about .team-holder .card .contentBx .content h3{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: .5s;
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: .6s;
}
#about .team-holder .card:hover .contentBx .content h3,
#about .team-holder .card:active .contentBx .content h3{
  opacity: 1;
  transform: translateY(0px);
}
#about .team-holder .card .contentBx .content span{
  font-size: 15px;
  font-weight: 300;
  text-transform: initial;
}
#about .team-holder .card .contentBx .sci{
  position: relative;
  bottom: 10px;
  display: flex;
}
#about .team-holder .card .contentBx .sci li{
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: .5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
}
#about .team-holder .card:hover .contentBx .sci li,
#about .team-holder .card:active .contentBx .sci li{
  transform: translateY(0px);
  opacity: 1;
}
#about .team-holder .card .contentBx .sci li a{
  color: #fff;
  font-size: 20px;
}
/* End of About */

/**********************
Side Shortcut Icons 
***********************/
.scroll-top {
  position: fixed; 
  bottom: 30px; 
  right: 20px; 
  z-index: 6; 
  opacity: 0; 
  visibility: hidden; 
  -webkit-transition: all 0.8s ease-in-out; 
  transition: all 0.8s ease-in-out; 
  -webkit-transform: translate3d(0, 200%, 0); 
  -ms-transform: translate3d(0, 200%, 0); 
  transform: translate3d(0, 200%, 0); 
}
.scroll-top a, .scroll-top a:visited {
  display: block; 
  height: 50px; 
  width: 50px; 
  line-height: 50px; 
  text-align: center;   
  border-radius: 7px; 
  -webkit-box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); 
  -moz-box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); 
  box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); 
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
  font-size:32px; 
  color: #ffffff;
}
.scroll-top a:hover, .scroll-top a:focus {
  color: #2575fc; 
  background: #ffffff;
}
.scroll-top.scroll-visible {
  opacity: 1; 
  visibility: visible; 
  -webkit-transform: translate3d(0, 0, 0); 
  -ms-transform: translate3d(0, 0, 0); 
  transform: translate3d(0, 0, 0);
}

.scroll-top a{
  background-color: orangered;
}
.scroll-top img{
  width: 55%;
  height: 55%;
}

.scroll-top.chat{ 
  bottom: 150px;
} 
.scroll-top.chat a{
  background-color: limegreen;
  border-radius: 50%;
}
.scroll-top.chat a:hover{
  background-color: #fff;
  color: limegreen;
}   
.scroll-top.fb{
  bottom: 90px;
} 
.scroll-top.fb a{ 
  background-color: #084eb1;
  border-radius: 7px; 

}
.scroll-top.fb a:hover{
  background-color: #fff;
  color: dodgerblue;
}   

.scroll-top.tw{
  bottom: 210px;
} 
.scroll-top.tw a{
  background-color: dodgerblue;
  border-radius: 7px; 

}
.scroll-top.tw a:hover{
  background-color: #fff;
  color: dodgerblue;
}   

a, i, img{
  -webkit-transition: all 0.5s ease-in-out 0s; -moz-transition: all 0.5s ease-in-out 0s; -ms-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; transition: all 0.5s ease-in-out 0s;  
}













/* Media Queries */

/* End of Media Queries */


