*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Media Queries */
@media screen and (max-width: 400px){
  body{
    background-color: greenyellow;
  }
  #hero .hero h1{
    font-size: 1.33rem;
  }
  section p{
    font-size: .95rem;
    font-weight: 300;
  }
  #hero .cta{ 
    font-size: .8rem;
    padding: 3px 10px 5px;  
    float: right;
  }
  .top{
    width: 80%;   
  }
  #solution .card{
    margin: -50px auto; 
  }
    /* Products Rack */
    #products .products-down{  
      width: 100%;
      padding: 1.5em 1em; 
      grid-gap: .75em;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    } 
    #products .products-down .product-item{ 
      min-height: 100px; 
      margin: 0 auto;
      border-radius: 8px;
      padding: 15px 5px; 
    }
    #products .products-down .product-title{ 
      margin: 0px 0px 8px; 
  
    }
    #products .products-down .product-item .product-info{ 
      font-size: .65rem;
    }
    #products .products-down .product-btns{ 
      justify-content: space-around;
    }
    .btn-oval{ 
      padding: 1px 15px 5px; 
    }
    .btn-oval span{
      font-size: 12px;  
    }
    .btn-round{ 
      font-size: 12px; 
      height: 32px;
      width: 32px; 
      display: grid;
      place-items: center;
    }
    .btn-round i{ 
      font-size: 12.5px; 
    }
    /* End of Products Rack */
}

@media screen and (max-width: 998px) {
  h1.section-title{
    font-size: 1.33rem; 
  }
  p{
    font-size: .5rem;
  }
  header{
    /* display: none; */
    height: 100vh; 
    width: 100vw;
    display: block;
    padding: 1.5em 0;  
    overflow: hidden;
    background-color: transparent;
  }
  header .logo{
    position: fixed;
    z-index: 1;
    left: 1rem;
  }
  header nav{ 
    margin: 0;
    height: 100%;
    background-color: rgb(13, 39, 44); 
    flex-direction: column;
    justify-content: center;  
    transition: .5s;
    left: 100%; 
    position: fixed;
    top: 8vh; 
    width: 100%; 
    z-index: -5;
  }
  header nav.active{
    left: 0;
  }
  header nav a{ 
    width: 100%;
    text-align: center;
    margin: 1em;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
 
  header .quote{
    display: none;
  }
  header .menubar{
    display: block;
    position: fixed;
    top: 1.2em;
    right: 1.5em;
    width: 47px;
    height: 40px;  
    display: grid;
    place-items: center;
    cursor: pointer; 
    transition: all .5s ease-in-out; 
  }
  header .menubar .hamburger{
    width: 35px;
    height: 3.5px;
    background-color: #fff;
    border-radius: 25px;
    transition: .5s ease-in-out;
  }
  
  .hamburger::before, .hamburger::after{
    position: absolute;
    content: '';
    height: 3.5px;
    width: 35px;
    background-color: #fff;
    border-radius: 25px; 
    transition: all .5s ease-in-out;
  }
  .hamburger::before{
    transform: translateY(-10px);
  }
  .hamburger::after{
    transform: translateY(10px); 
  }

  /* Hamburger Animation */
  .menubar.active .hamburger{
    transform: translateX(-50px);
    background: transparent; 
  }
  .menubar.active .hamburger::before{ 
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menubar.active .hamburger::after{ 
    transform: rotate(-45deg) translate(35px, 35px);
  }
  /* End of Hamburger Animation */



  #hero .hero.hero.container > div{
    max-width: 300px;
    padding: 10px;
  }

  /* Projects */
  #projects .projects .projects-down{
    grid-template-columns: 1fr; 
    grid-template-areas: 
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine"
      "ten";
    
  }
  /* End of Projects */



  /* About */
  section#about{
    flex-direction: column;
  }
  /* End of About */
}
/* End of Media Queries */